.collection-section {
    min-height: 100vh;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 15vw;
    margin-right: 15vw;
    list-style: none;
    vertical-align: middle;
    margin-bottom: 0;
}

.collection li {
    margin: 2px;
    width: 18vw;
    height: 18vw;
    position: relative;
    overflow: hidden;
}

.collection a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.collection a:hover {
    cursor: pointer;
}

.collection img {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    transition: top 0.3s;
    transition-timing-function: ease-in-out;
}

.collection a:hover img {
    top: -13px;
}

.collection h3 {
    background-color: #EDF0F3;
    position: absolute;
    width: 100%;
    bottom: -50px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: bottom 0.3s;
    transition-timing-function: ease-in-out;
    color: black;
    margin: 0;
}

.collection a:hover h3 {
    bottom: 0px;
}

.show-button {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.show-button a {
    text-decoration: none;
    color: white;
    background-color: #133A96;
    padding: 8px;
    border: solid 3px #133A96;
    border-radius: 3px;
    font-weight: 500;
    font-size: 21px;
}

.show-button a:hover {
    color: #133A96;
    background-color: white;
}

@media screen and (max-width: 1150px) {
    .collection li {
        width: 25vw;
        height: 25vw;
    }
}

@media screen and (max-width: 950px) {
    .collection li {
        min-width: 500px;
        height: 500px;
    }
}

@media screen and (max-height: 950px) {
    .collection {
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .collection li {
        min-width: 0;
        width: 30vh;
        height: 30vh;
    }
}

@media screen and (max-height: 486px) {
    .collection li {
        min-width: 0;
        width: 40vh;
        height: 40vh;
    }
}

@media screen and (max-height: 365px) {
    .collection li {
        min-width: 0;
        width: 50vh;
        height: 50vh;
    }
}