.footer {
    background-color: #1E2831;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 1rem;
}

.footer small {
    font-size: .6rem;
    margin-left: .15rem;
}

.socials {
    float: right;
}

.socials a {
    color: white;
    margin-left: 2px;
    display: inline-block;
}

.socials a:hover {
    color: #CECECE;
}

.scroller {
    position: absolute;
    right: 0;
    margin-right: 5%;
    transform: translate(0, 5px);
    padding: .25rem;
}

.scroller:hover {
    cursor: pointer;
}

.scroller::after {
    content: '';
    border-top: .125em solid #354656;
    border-right: .125em solid #354656;
    transform: rotate(-45deg);
    width: .625em;
    height: .625em;
    display: block;
    box-sizing: border-box;
    position: absolute;
    font-size: 1.2em;
}

.scroller:hover::after {
    border-color: white;
}