.box {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    font-size: 1.15vw;
    width: calc(100% - 15px);
    height: 35vw;
    left: 15px;
}

.box .img-container {
    width: 35vw;
    height: 35vw;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    border-radius: 10px;
}

.box .w {
    width: 100%;
}

.box .h {
    height: 100%;
}

.box .text{
    width: 35vw;
    display: inline-block;
    position: absolute;
    right: 15vw;
    top: 8vw;
}

.box a {
    display: block;
    margin-top: 8px;
    font-size: 17px;
    color: grey;
}

.right-box .img-container {
    right: 15px;
}

.right-box .text {
    left: 15vw;
}

.box-in-a-stack {
    margin-top: 200px;
}