.box {
    margin: 2rem 1rem;
    position: relative;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.box img {
    width: 35%;
    border-radius: 10px;
    flex: 0 0 35%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: 0% 0%;
}

.text {
    width: 48ch;
    margin: auto;
}

.box a {
    display: block;
    margin-top: .7rem;
    font-size: 1rem;
    color: grey;
    width: 9ch;
}

@media only screen and (min-width: 2300px) {
    .text {
        font-size: 1.45rem;
    }
}