.box {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    font-size: 20px;
    width: 100%;
    height: 35vw;
}

.box img {
    width: 35vw;
    display: inline-block;
    position: absolute;
}

.box .text{
    width: 35vw;
    display: inline-block;
    position: absolute;
    right: 15vw;
    top: 8vw;
}

.box a {
    display: block;
    margin-top: 8px;
    font-size: 17px;
    color: grey;
}

.right-box img {
    right: 0;
}

.right-box .text {
    left: 15vw;
}

.box-in-a-stack {
    margin-top: 200px;
}