.header {
    position: absolute;
    padding-top: 2rem;
    width: 100%;
    user-select: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.25rem;
}

.name {
    color: white;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    margin-left: 2em;
    display: flex;
}

.name img {
    width: 1.3em;
    height: 1.3em;
}

.name h3 {
    margin: 0;
    margin-left: .5em;
    font-size: 1.25em;
}

.menu {
    margin-right: 2em;
    z-index: 1;
}
  
.menu a {
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: white;
    transition: .7s ease;
    position: relative;
    cursor: pointer;
}

.menu a::after {
    content: '';
    position: absolute;
    background-color: white;
    height: .18em;
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1.25em;
    transition: width 150ms ease-out;
}
  
.menu a:hover::after,
.menu a:focus::after,
.menu .active::after {
    width: 102%;
}