html, body {
    margin: 0;
    width: 100%;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/*Header*/
.header {
    position: absolute;
    padding-top: 25px;
    height: 100px;
    width: 100%;
    user-select: none;
}

.name {
    position: absolute;
    display: flex;
    color: white;
}

.name img {
    margin-left: 30px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.name h3 {
    margin: 0;
    margin-top: 3px;
}

/*Menu*/
.menu {
    position: absolute;
    right: 30px;
    cursor: pointer;
    z-index: 1;
    margin-left: 200px;
    line-height: 20px;
}
  
.menu a {
    font-size: 15px;
    margin-left: 30px;
    float: left;
    text-decoration: none;
    color: white;
    transition: .7s ease;
}
  
.menu a:hover {
    color: #10317C;
}

.menu .active {
    color: #0D2765;
}

/*Banner*/
.banner {
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
    font-size: 25px;
    user-select: none;
    overflow: hidden;
    position: relative;
}

.banner img {
    position: absolute;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.banner h1 {
    margin: 0;
    max-height: 100%;
}

/*Down arrow*/
.arrow {
    position: absolute;
    width: 55px;
    height: 55px;
    left: calc(50% - 27.5px);
    bottom: 15px;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-down::after,
.arrow-down::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 18%;
}
.arrow-down::after {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-45deg);
    left: calc(50% - 5.5px);
}
.arrow-down::before {
    width: 2px;
    height: 33px;
    left: calc(50% - 1.5px);
    background: white;
    transform: translate(0, 1px);
}

/*Title*/
.title {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    margin-top: 50px;
}

/*Collection*/
.collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    list-style: none;
    margin-top: 50px;
}

.collection li {
    margin: 2px;
    width: 17vw;
    height: 17vw;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 1365px) {
    .collection li {
        width: 20vw;
        height: 20vw;
    }
}

@media screen and (max-width: 1108px) {
    .collection li {
        min-width: 500px;
        height: 500px;
    }
}

.collection a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.collection a:hover {
    cursor: pointer;
}

.collection img {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    transition: top 0.3s;
    transition-timing-function: ease-in-out;
}

.collection a:hover img {
    top: -13px;
}

.collection h3 {
    background-color: #EDF0F3;
    position: absolute;
    width: 100%;
    bottom: -50px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: bottom 0.3s;
    transition-timing-function: ease-in-out;
    color: black;
    margin: 0;
}

.collection a:hover h3 {
    bottom: 0px;
}

/*Show button*/
.show-button {
    width: 100%;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 55px;
}

.show-button a {
    text-decoration: none;
    color: white;
    background-color: #133A96;
    padding: 5px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #133A96;
    font-weight: 500;
}

.show-button a:hover {
    color: #133A96;
    background-color: white;
}

/*Footer*/
.footer {
    background-color: #1E2831;
    color: white;
    padding-top: 37px;
    padding-bottom: 27px;
    padding-left: 190px;
    padding-right: 190px;
    font-size: 15px;
}

.footer small {
    font-size: 10px;
    margin-left: 5px;
}

.socials {
    float: right;
}

.socials span {
    margin-right: 1px;
}

.socials a {
    color: white;
    margin-left: 2px;
    display: inline-block;
}

.fa-twitter:hover {
    color: #C6F1FF;
}

.fa-github:hover {
    color: #CECECE;
}

/*Up scroller*/
.up-scroller {
    position: absolute;
    right: 0;
    margin-right: 75px;
    transform: translate(0, 5px);
    padding: 5px;
}

.up-scroller:hover {
    cursor: pointer;
}

.the-pointer {
    border-top: 2px solid #354656;
    border-right: 2px solid #354656;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
}

.up-scroller:hover .the-pointer {
    border-color: white;
}