html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    background-color: #161C2BAF;
    z-index: -2;
    position:absolute;
}

::selection {
    background-color: #161C2BBF;
}

.fade-in {
    animation: fadeIn 2000ms;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}