.start-wrapper {
    position: relative;
    font-size: 1rem;
    margin: 5em;
}

.add-player {
    position: absolute;
    bottom: 0;
    transform: translate(7em, 0)
}

#switch-players {
    position: absolute;
    bottom: 0;
    transform: translate(14em, 0)
}
