.img-wrap {
    position: absolute;
    z-index: -1;
    height: 300%;
    margin: 0;
    user-select: none;
    width: 100%;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    height: 220%;
    width: calc(100% + 20px);
    object-fit: cover;
    top: -75%;
    filter:blur(6px);
    left: -10px;
}

.timeline {
    background-color: cyan;
    height: 100rem;
    width: .2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 300px;
    padding: 0;
}

.point {
    width: 45ch;
    margin-left: 4rem;
    color: white;
    list-style: none;
    position: absolute;
}

.point h4 {
    margin: 0;
    color: cyan;
}

.point h2 {
    margin-top: 0;
}

.point-left {
    text-align: right;
    margin-left: 0;
    right: 0;
    margin-right: 4rem;
}

.point::before {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background-color: cyan;
    border-radius: 100%;
    position: absolute;
    left: -4.5rem;
}

.point-left::before {
    right: -4.5rem;
    left: auto;
}

.point:focus::before {
    background-color: white;
}