body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 0 15px 15px 15px;
    border-radius: 5px;
    max-width: 300px;
    z-index: 9999;
}

label {
    display: block;
    margin: 10px 0 5px 0;
}

input[type="range"] {
    width: 100%;
}

#buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.reset-view-btn {
    cursor: pointer;
    user-select: none;
}

#graphResolutionValue {
    position: absolute;
    translate: 0.5ch;
}

.checkbox-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
