html {
    --nato-alfabet: #0060aa;
    --kvadratsettning: #245c4f;
    --hexadecimal: #D57309;
    --binary: #000000;
    --prime-number: #bd1845;
    --enhetssirkelen: #3B5863;
    --trigonometri: #D5D218;
}